body {
    background: #000;
    color: #fff;
  }
  h1 {
    position: relative;
    text-align: center;
    font-size: 50px;
    font-family: 'Megrim', cursive;
    text-shadow: 
          0 0 5px #0bf4f3,
          0 0 10px #0bf4f3,
          0 0 20px #0bf4f3,
          0 0 40px #0bf4f3,
          0 0 80px #0bf4f3;
  }
  
  p {
    font-family: 'Pompiere', cursive;
    font-weight: 300;
    text-align: center;
    font-size: 20px;
    color: #fff;
  }
  .frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
  }
  button {
    margin: 20px;
  }
  .custom-btn {
    color: #fff;
    width: 130px;
    height: 40px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }
  .btn-7 {
    color: #21ebff;
    line-height: 40px;
    padding: 0;
    border: none;
  }
  .btn-7 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-7:before,
  .btn-7:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: #21ebff;
    box-shadow: 0 0 5px #21ebff;
    transition: all 0.3s ease;
  }
  .btn-7:before{
     height: 50%;
     width: 2px;
  }
  .btn-7:after {
    width: 20%;
    height: 2px;
  }
  .btn-7:hover:before {
    height: 100%;
  }
  .btn-7:hover:after {
    width: 100%;
  }
  .btn-7 span:before,
  .btn-7 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #21ebff;
    box-shadow: 0 0 5px #21ebff;
    transition: all 0.3s ease;
  }
  .btn-7 span:before {
    width: 2px;
    height: 50%;
  }
  .btn-7 span:after {
    height: 2px;
    width: 20%;
  }
  .btn-7 span:hover:before {
    height: 100%;
  }
  .btn-7 span:hover:after {
    width: 100%;
  }
  